<a class="movie-card" [routerLink]="['/movie', movie.id]">
  <div class="poster">
    @if(movie.image) {
      @if(movie.image.startsWith('http')) {
        <img [src]="movie.image" [alt]="movie.title">
      } @else {
        <img [src]="'http://localhost:8080/movies/' + movie.id + '/image'" [alt]="movie.title">
      }
    } @else {
      <div class="poster-placeholder">
        <span>{{ movie.title.charAt(0) }}</span>
      </div>
    }
  </div>
  
  <div class="content">
    <h3 class="title">{{ movie.title }}</h3>
    
    <div class="meta">
      @if (movie.director) {
      <span>{{ movie.director }}</span>
      }
      @if (movie.director && movie.releaseDate) {
      <span class="separator">·</span>
      }
      @if (movie.releaseDate) {
      <span>{{ movie.releaseDate | date:'yyyy' }}</span>
      }
    </div>
    
    @if (movie.synopsis) {
    <p class="synopsis">{{ movie.synopsis }}</p>
    }
    
    @if (movie.rate) {
    <div class="rating">
      <span class="star">★</span>
      <span class="value">{{ movie.rate }}</span>
    </div>
    }
  </div>
</a>